{% set nav_links = [
    ('/', 'landing', 'Home'),
    ('/visualizations', 'visualizations', 'Visualizations'),
    ('/comparisons', 'comparisons', 'Comparisons'),
    ('/data', 'data', 'Data'),
] %}

{% set active_page = active_page|default('landing') -%}

<nav class="navbar navbar-dark bg-primary" id="nav">
    <a class="navbar-brand" href="#">Flask-Bootstrap</a>
    <div class="navbar-nav d-flex flex-row">
        {% for href, id, slug in nav_links %}
            <a class="nav-link p-2
                {% if id == active_page %} active {% endif %}
            " href="{{ href|e }}">{{ slug|e }}</a>
        {% endfor %}
    </div>
</nav>

<span class="sr-only">(current)</span>