<!DOCTYPE html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock title %} | Flask-Bootstrap Demo</title>
            <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/index.css') }}" />
            {% block stylesheets %}
                <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss.css') }}" />
            {% endblock stylesheets %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock head %}
    </head>

    <body>
        <div id="navbar">
            {% include "layout/navbar.html.j2" %}
        </div>
        <div id="content">
            {% block content %}
            {% endblock content %}
        </div>
        <div id="footer">
            {% include "layout/footer.html.j2" %}
        </div>
    </body>

    {% block scripts %}
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    {% endblock scripts %}

</html>